@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100&family=Kaisei+Tokumin:wght@400;700;800&family=Poppins:wght@200;300;400&display=swap');

:root {
        
        --lg-font: 'Kaisei Tokumin', serif;
        --sm-font: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 50px;
    line-height: 64px;
    color: black;
    font-weight: bolder;
    font-style: normal;
    color: rgb(252, 239, 238);
}



h4 {
    font-size: 20px;
    color: rgb(221, 221, 37);
    font-weight: bolder;
    font-style:normal;
}

h6 {
    font-weight: 700;
    font-size: 12px;
    font-weight: bolder;
    font-style: oblique;
}

p{
    font-size: 16px;
    color:wheat;
    margin: 15px 0 20px 0;
    font-weight: bolder;
    font-style: oblique;
}

section-p1 {
    padding:40px 80px ;
}

section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600px;
    padding: 15px 30px;
    color: black;
    background-color: floralwhite;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600px;
    padding: 11px 18px;
    color:violet;
    background-color:white;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

#header {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index:999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight:bolder;
    color: black;
    transition: 0.2s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: yellow;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height:2px;
    background: yellow;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo {
    clip-path: circle();
}

.cart {
    clip-path: ellipse();
}

#mobile {
    display: none;
    align-items: center;
}

#hero {
    background-image: url(../IMAGES/riri1.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 20px;
}
button {
    text-align: right;
    font-weight: bold;
}

#hero button {
    background-image: url(../IMAGES/green.jpg);
    background-color: transparent;
    color: cyan;
    border: 0;
    padding: 14px 80px 14px 65px;
    font-weight: bolder;
}

#page-header {
    background-image: url(../IMAGES/sbg.jpg);
    width: 100%;
    height: 40vh;
    background-attachment: fixed;
    background-size:inherit;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h1,
#page-header p{

}


#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
    padding: 0 40px;
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid gainsboro;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.02ms ease;
    position: relative;
}

#product1 .pro .img1 {
    width: 60%;
    border-radius: 20px;
}


#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color:darkred;
    font-size: 15px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: black;
    font-size: 14px;
}

#product1 .pro .des .star {
    color: gold;
}

#product1 .pro .des i {
    font-size: 10px;
}

#product1 .pro .des h4 {
    padding: 7px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    color:darkseagreen;
}

